.mainContainer {
  padding: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: auto; /* Adjust according to your design needs */
}
