/* ColourInput.css */
.formContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.colourInputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.colorInput {
  width: 150px; /* Width for the color picker input */
}

.hexInput {
  width: 80px; /* Width for the hex code input */
}

.colorLabel,
.hexInput input,
.colorInput input {
  font-size: 16px; /* Default font size */
  text-wrap: nowrap;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000; /* Make sure it's above other content */
}

@media (max-width: 600px) {
  .colorInput {
    width: 60px; /* Width for the color picker input */
  }

  .colorLabel,
  .hexInput input,
  .colorInput input {
    font-size: 14px; /* Smaller font size for smaller devices */
  }

  .formContainer .MuiIconButton-root,
  .formContainer .MuiButton-root {
    padding: 6px;
    min-width: 36px; /* Reduce the size of buttons and icons */
    font-size: 0.7rem; /* Smaller text on buttons if applicable */
  }

  .formContainer .MuiSvgIcon-root {
    font-size: 18px; /* Smaller icon size */
  }
}
