.colourSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.colourItemContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.colourItemWrapper {
  display: flex;
  width: 43.5rem;
}
.colourItem {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; Adds space between items */

  gap: 5px;
}

.colourSection {
  padding: 2px 5px; /* Reduced padding to allow more space for text */
  border-radius: 10px;
  height: 3rem;
  display: flex;
  align-items: center; /* Ensure text is centered vertically */
  width: 40rem;
}

.colourMetrics {
  display: flex;
  flex-direction: column;
  align-items: start; /* Center align items horizontally in the column */
  justify-content: center; /* Center vertically if there's extra space */
  width: auto;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
}

.colourMetrics div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.7rem;
}

.colourSectionText {
  font-size: 1.5rem; /* Adjusted for better fit */
  overflow: hidden; /* Prevents overflow */
  text-overflow: ellipsis; /* Adds an ellipsis to overflowing text */
  white-space: nowrap; /* Keeps text on one line */
}

.readableIcon,
.notReadableIcon {
  transition: transform 0.3s ease-in-out;
}

.readableIcon {
  animation: popIn 0.3s ease;
}

.notReadableIcon {
  animation: popIn 0.3s ease;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1000px) {
  .colourSection {
    width: 38rem;
  }
  .colourItemWrapper {
    width: 41.5rem;
  }
  .colourSectionText {
    font-size: 23px;
  }
  .colourMetrics div {
    width: 8rem;
    white-space: nowrap;
  }
}

@media (max-width: 880px) {
  .colourItemWrapper {
    width: 33.5rem;
  }
  .colourSection {
    width: 30rem;
  }
  .colourMetrics div {
    width: 7rem;
    white-space: nowrap;
  }
  .colourSectionText {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .colourItemWrapper {
    width: 30.5rem;
  }
  .colourSection {
    width: 27rem;
  }
  .colourSectionText {
    font-size: 1rem;
    overflow: hidden; /* Prevents overflow */
  }
  .colourItemContainer {
    gap: 5px;
  }
  .colourMetrics div {
    width: 6.2rem;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .colourItemWrapper {
    width: 24rem;
  }
  .colourSectionText {
    font-size: 0.8rem;
  }
  .colourSection {
    width: 21.8rem;
    height: 35px;
  }
  .colourMetrics div {
    width: 5.2rem;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .colourSectionText {
    font-size: 0.65rem;
  }
  .colourSection {
    height: 30px;
    width: 18rem;
  }
  .colourItemWrapper {
    width: 20rem;
  }

  .colourMetrics {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .colourSection {
    width: 15rem;
  }
  .colourItemWrapper {
    width: 17rem;
  }
  .colourSectionText {
    font-size: 0.55rem;
  }
}
@media (max-width: 360px) {
  .headerContainer h1 {
    font-size: 28px;
  }
  .colourSection {
    width: 13.5rem;
    height: 30px;
  }
  .colourItemWrapper {
    width: 15.5rem;
  }
  .colourSectionText {
    font-size: 0.48rem;
  }
}
