.savedPalettesContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paletteColors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Adjust the gap as needed */
}

.paletteColor {
  flex: 0 0 calc(20% - 8px); /* Adjust the calculation based on the gap for 5 items per row */
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paletteColor:hover .copyIcon {
  display: flex; /* Only display the icon when the parent is hovered */
}

.copyIcon {
  position: absolute;
  bottom: 10px; /* Position it at the bottom */
  display: none; /* Hide by default */
}
.colorGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorGroup h3 {
  margin: 0;
}
.colorGroup h4 {
  margin: 0;
  font-size: 12px;
}
.editPaletteContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.editPaletteLabel {
  margin: 0;
}

.dropDownTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0rem;
  margin-right: 0.5rem;
}
.paletteNameTheme,
.timeStamp {
  margin: 0rem;
}

@media (min-width: 960px) {
  .paletteColor {
    height: 170px; /* Large devices */
  }
}
@media (max-width: 900px) {
  .paletteColor {
    height: 170px; /* Large devices */
  }
  .dropDownTitle {
    font-size: 15px;
  }
  .paletteColor {
    height: 150px; /* Medium devices */
  }
}

@media (max-width: 600px) {
  .paletteColor {
    height: 120px; /* Smaller devices */
  }
  .dropDownTitle {
    font-size: 12px;
  }

  .timeStamp {
    text-align: right;
  }
}
